name: Watch Registry

on:
  schedule:
    - cron: '*/5  * * * *' # Run every 1 minutes
  workflow_dispatch:

jobs:
  check-updates:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install yq
        run: |
          if ! command -v yq &> /dev/null; then
             wget https://github.com/mikefarah/yq/releases/download/v4.40.5/yq_linux_amd64 -O /usr/local/bin/yq && chmod +x /usr/local/bin/yq
          fi

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Run Registry Watcher
        id: check
        run: |
          # Ensure dependencies
          go mod tidy
          
          # Run script
          go run scripts/watch_registry.go

      - name: Commit and Tag
        if: steps.check.outputs.update == 'true'
        run: |
          git config user.name "damekarv  "
          git config user.email "damekarviney@gmail.com"
          
          git add release_manifest.json clusters/dev/release.yaml
          git commit -m "chore(release): update services for ${{ steps.check.outputs.release_tag }}"
          
          git tag ${{ steps.check.outputs.release_tag }}
          
          git push origin HEAD:${{ github.ref_name }}
          git push origin ${{ steps.check.outputs.release_tag }}

      - name: Trigger Dev Deployment
        if: steps.check.outputs.update == 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Triggering Infrastructure Update for DEV..."
          gh workflow run deploy-infra.yml -f environment=dev -f action=apply
